.all-pitches{
  padding: 20px;
  margin: 20px;
  background-image: url('../imgs/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;

}
.login{
  display: flex;
  justify-content: center;
}
.pitch-form{
  display: flex;
  justify-content: center;

}
body{
  background-image: url('../imgs/img1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.card {
  position: relative;
  display: inline-block;
  margin:10px;
  border-radius: 5px;
  color: wheat;
}
#all-pitches .card{
  position: relative;
  display: inline-block;
  margin:10px;
  border-radius: 5px;
}
#categories .card{
  position: relative;
  display: inline-block;
  margin:10px;
  border-radius: 5px;
}

.pitch-comments #crd{
  padding: 20px;
  margin: 20px;
  position: relative;
  display: inline-block;
}
#comment .card{
  margin-left: 23%;
}
