{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block content %}
<div id="categories">
  {%for pitch in interview %}
  <div class="card border-info mb-7 bg-transparent" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">{{pitch.title}}</h5>
        <p class="card-text">{{pitch.pitch}}</p>
      </div>
      <p class="text-primary"> <a href="{{url_for('main.comment',id=pitch.id)}}" style="color: aquamarine;">add comment</a></p>
    </div>
  {% endfor %}
</div>
{% endblock %}